<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachMapper">

    <resultMap id="TeachplanMap" type="com.xuecheng.framework.domain.course.ext.TeachplanNode">
        <id column="one_id" property="id"></id>
        <result column="one_pname" property="pname"></result>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
            <id column="two_id" property="id"></id>
            <result column="two_pname" property="pname"></result>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
                <id column="three_id" property="id"></id>
                <result column="three_pname" property="pname"></result>
                <result column="media_fileoriginalname" property="mediaFileOriginalName"></result>
                <result column="media_id" property="mediaId"></result>
                <result column="timelength" property="timelength"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="selectList" parameterType="java.lang.String" resultMap="TeachplanMap">
        SELECT
            a.id one_id,
            a.pname one_pname,
            b.id two_id,
            b.pname two_pname,
            c.id three_id,
            c.pname three_pname,
            c.timelength,
            tm.media_fileoriginalname,
            tm.media_id
        FROM teachplan a
        LEFT JOIN teachplan b ON b.parentid = a.id
        LEFT JOIN teachplan c ON c.parentid = b.id
        LEFT JOIN teachplan_media tm ON tm.teachplan_id = c.id
        WHERE a.parentid = '0'
        <if test="_parameter != null and _parameter != '' ">
            AND a.courseid = #{courseId}
        </if>
    </select>
</mapper>
