<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.ucenter.dao.XcMenuMapper">

    <select id="findMenuByUserId" parameterType="java.lang.String" resultType="com.xuecheng.framework.domain.ucenter.XcMenu">
        SELECT mu.id, mu.code, mu.p_id pId, mu.menu_name menuName, mu.url, mu.is_menu isMenu, mu.`level`, mu.sort,
            mu.`status`, mu.icon, mu.create_time createTime, mu.update_time updateTime
            FROM xc_menu mu WHERE mu.id
            IN (SELECT xp.menu_id FROM xc_permission xp WHERE xp.role_id
	            IN (SELECT xur.role_id FROM xc_user_role xur WHERE xur.user_id = #{userId} )
            )

    </select>

</mapper>
