<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.ucenter.dao.XcUserMapper">

    <select id="findUserListPage" parameterType="com.xuecheng.framework.domain.ucenter.request.UserListRequest" resultType="com.xuecheng.framework.domain.ucenter.ext.UserInfo">
        SELECT DISTINCT u.id, u.username, u.salt, u.`name`, u.utype, u.birthday, u.userpic, u.email,u.sex,u.phone,u.`status`,
            u.create_time createTime, u.update_time updateTime, c.`name` as companyName
        FROM xc_user u
            LEFT JOIN xc_user_role ur ON u.id = ur.user_id
            LEFT JOIN xc_role r ON r.id = ur.role_id
            LEFT JOIN xc_company_user cu on u.id = cu.user_id
            LEFT JOIN xc_company c ON c.id = cu.company_id
        <where>
            <if test="sysRoleId == '2'">AND ur.role_id NOT IN('1','2')</if>
            <if test="sysRoleId == '3'">AND ur.role_id NOT IN('1','2','3')</if>
            <if test="sysRoleId == null or sysRoleId == ''">AND ur.role_id NOT IN('1','2','3','4')</if>

            <if test="name != null and name != '' ">
                AND u.name LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
            <if test="phone != null and phone != '' ">
                AND u.phoneLIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
            <if test="roleId != null and roleId != '' ">
                AND ur.role_id = #{roleId}
            </if>
            <if test="status != null and status != '' ">
                AND u.status = #{status}
            </if>
            <if test="utype != null and utype != '' ">
                AND u.utype = #{utype}
            </if>

        </where>
        ORDER BY u.create_time DESC

    </select>

    <select id="findTeacherListPage" parameterType="com.xuecheng.framework.domain.ucenter.request.UserListRequest" resultType="com.xuecheng.framework.domain.ucenter.XcTeacher">
        SELECT t.user_id userId, t.`name`, t.intro, t.pic, u.status  FROM xc_teacher t
            LEFT JOIN xc_user u ON u.id = t.user_id
        WHERE user_id IN
            (SELECT user_id FROM xc_company_user WHERE company_id = #{companyId} )
        <if test="name != null and name != '' ">
            AND u.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </select>

</mapper>
