<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.order.dao.OrderMapper">
    <select id="findOrderPayStatus" parameterType="java.lang.String"
            resultType="com.xuecheng.framework.domain.order.XcOrdersPay">
        SELECT id, order_number orderNumber, pay_number payNumber, `status` FROM `xc_orders_pay`
            WHERE
            order_number IN (select order_number FROM xc_orders_detail WHERE user_id =#{userId} AND course_id =#{courseId})
        <choose>
            <when test="status!=null and status!='' ">
                AND  `status` = #{status}
            </when>
            <otherwise>
            <!-- 没有传支付状态时，默认查询未支付、支付成功两个状态 -->
                AND  `status` IN ("402001","402002")
            </otherwise>
        </choose>
    </select>

    <select id="findAllOrderList" parameterType="com.xuecheng.framework.domain.order.request.OrderRequestList"
            resultType="com.xuecheng.framework.domain.order.XcOrders">

        SELECT order_number orderNumber, initial_price initialPrice, price, user_id userId, details,`status`, create_time createTime FROM `xc_orders`
            WHERE 1=1
            <choose>
                <when test="orderNumber!=null and orderNumber!='' ">
                    AND  order_number LIKE CONCAT(CONCAT('%', #{orderNumber}), '%')
                </when>
                <otherwise>
                    <if test="status!=null and status!='' ">
                        AND  `status` = #{status}
                    </if>

                    <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
                        AND  create_time &gt;= #{startTime} AND create_time &lt;= #{endTime}
                    </if>

                </otherwise>
            </choose>
        ORDER BY create_time DESC
    </select>
</mapper>
